#main__giras section .container .contenedor__img__generales {
  display: flex;
  justify-content: center;
  align-items: center;
}

#main__contacto section #formulario_centrarFlex, footer section #img_link_externos, footer, header {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

#main__contacto {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#main__giras section #contenedor__giras__portada, #index_home #main__section__home {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#main_libros #main__section__libros .contenedor__img__libros, #main__discografia #main__section__discografia {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*GENERAL*/
* {
  margin: 0px;
  padding: 0px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  box-sizing: border-box;
}

p {
  font-size: 18px;
  padding: 15px;
  width: 300px;
}

h1, p {
  text-align: left;
  color: white;
}

h2 {
  font-size: 26px;
  color: white;
  padding: 25px 5px;
  text-align: center;
}

/*CIERRE GENERAL*/
@font-face {
  font-family: "Anthony Hunters";
  src: url("../fonts/Anthony Hunters.otf");
}
/*HEADER*/
header {
  background-image: url(../img/background-header-footer-textura-cafe.webp);
  color: white;
  position: fixed;
  width: 100%;
  z-index: 1;
  padding: 5px;
}
header section div h1 {
  font-size: 34px;
  font-family: "Anthony Hunters";
  padding: 5px;
  color: whitesmoke;
}
header section nav {
  padding: 0px 5px;
}
header section nav ul {
  list-style-type: none;
  text-align: right;
  padding: 5px 5px;
}
header section nav ul li {
  display: inline;
}
header section nav ul a {
  text-decoration: none;
  color: #faebd7;
  font-size: 14px;
  background-color: #b3754f;
  padding: 5px;
  border: 2px solid #faebd7;
  border-radius: 10px;
  box-shadow: 10px 10px 20px black;
}

/*CIERRE HEADER*/
/*Main general*/
main {
  background-image: url(../img/bakcground-main-dark.webp);
  width: 100%;
}

/*CIERRE main general*/
/*FOOTER*/
footer {
  background-image: url(../img/background-header-footer-textura-cafe.webp);
  padding: 10px;
  width: 100%;
}
footer section div {
  padding: 5px 5px;
}
footer section div p {
  color: #faebd7;
  padding: 5px;
}
footer section #img_link_externos a {
  padding: 5px;
}

/*CIERRE FOOTER*/
/*Main home*/
#index_home #main__section__home div .titulos {
  padding-top: 100px;
  font-size: 42px;
  color: white;
  text-decoration-line: underline;
}
#index_home #main__section__home div #home_img_p {
  padding: 10px;
  width: 320px;
  right: auto;
}

/*CIERRE Main home*/
/* Main_Discografia */
#main__discografia {
  padding: 100px 0px 5px 0px;
}
#main__discografia #main__section__discografia .container .discografia_parrafo {
  color: white;
  font-size: 20px;
  padding: 10px;
  width: auto;
}
#main__discografia #main__section__discografia .container #discrografia__iframes__solista {
  display: grid;
  grid-template-rows: 250px 250px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
}
#main__discografia #main__section__discografia .container #discrografia__iframes__solista .discografia_iframe {
  padding: 10px;
}
#main__discografia #main__section__discografia .container #discrografia__iframes__colab {
  padding: 5px;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

/* Cierre Main_Discografia */
/* Main_Giras */
#main__giras section #contenedor__giras__portada {
  height: auto;
}
#main__giras section #contenedor__giras__portada #giras_portada {
  width: 100%;
  height: 450px;
  position: relative;
  top: -50px;
}
#main__giras section .container .giras_parrafo {
  color: white;
  font-size: 20px;
  padding: 10px;
  width: auto;
}
#main__giras section .container .contenedor__img__generales {
  padding: 10px;
  height: auto;
  flex-wrap: wrap;
}
#main__giras section .container .giras_img_generales {
  margin: 10px;
  width: 100%;
  height: 300px;
  border: 2px solid #7f540f;
  border-radius: 10px;
}

/* Cierre Main_Giras */
/* Main_Libros */
#main_libros {
  padding: 100px 0px;
}
#main_libros #main__section__libros {
  padding: 10px;
  display: grid;
  grid-template-rows: 600px 600px 600px;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: end;
  justify-items: center;
  align-items: center;
}
#main_libros #main__section__libros .contenedor__img__libros {
  padding: 10px;
  height: auto;
}
#main_libros #main__section__libros .contenedor__img__libros .libros_img {
  margin: 5px;
  width: 350px;
  height: 250px;
  border: 2px solid #7f540f;
  border-radius: 10px;
}
#main_libros section div .titulo3 {
  color: white;
  font-size: 22px;
  padding: 5px;
}
#main_libros section div .libros_parrafo {
  color: white;
  font-size: 20px;
  padding: 10px 10px 40px 10px;
  width: auto;
}
#main_libros section #entrevistas__iframe__centrar {
  padding: 5px;
  display: grid;
  grid-template-rows: 200px 200px;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

/* Cierre Libros */
/* Main_Contacto */
#main__contacto {
  padding-top: 100px;
}
#main__contacto section div .contacto_parrafo {
  color: white;
  font-size: 20px;
  padding: 10px 10px 40px 10px;
  width: auto;
}
#main__contacto section #formulario_centrarFlex .formulario {
  width: auto;
  margin: 40px;
  padding: 20px;
}
#main__contacto section #formulario_centrarFlex .formulario .contacto_seccion {
  padding: 10px;
}
#main__contacto section #formulario_centrarFlex .formulario .contacto_seccion .contacto_label {
  color: white;
  padding: 20px 20px;
}
#main__contacto section #formulario_centrarFlex .formulario .contacto_seccion .formulario__estilo {
  margin: 10px;
  padding: 10px;
}
#main__contacto section #formulario_centrarFlex .formulario .contacto_seccion .formulario__textarea {
  padding: 10px 100px;
}
#main__contacto section #formulario_centrarFlex .formulario .formulario_posicion_boton .formulario_boton {
  padding: 10px 15px;
}

/* Cierre Main_Contacto */
/*RESPONSIVE PARA PAGINAS INDEX(Home) y Libros*/
/*Movil index(Home)*/
@media (min-width: 320px) and (max-width: 480px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  header section nav ul a {
    font-size: 12px;
    padding: 0.9px;
  }
  #index_home #main__section__home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #index_home #main__section__home div #home_img_p {
    padding: 10px;
    width: 100%;
    right: auto;
  }
  #index_home #main__section__home div p {
    font-size: 16px;
    padding: 20px 0px 20px;
    width: 200px;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
@media (min-width: 481px) and (max-width: 625px) {
  #index_home #main__section__home {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  footer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}
/*extra page libros*/
@media (min-width: 481px) and (max-width: 672px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  #main_libros #main__section__libros {
    grid-template-rows: 500px 500px 500px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  #main_libros section #entrevistas__iframe__centrar {
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
}
/*Movil page libros*/
@media (min-width: 320px) and (max-width: 480px) {
  header {
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
  header section nav ul a {
    font-size: 12px;
    padding: 0.9px;
  }
  #main_libros #main__section__libros {
    grid-template-rows: 650px 600px 480px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
  #main_libros #main__section__libros .contenedor__img__libros .libros_img {
    width: 280px;
    height: auto;
    border: 2px solid antiquewhite;
    border-radius: 10px;
  }
  #main_libros section #entrevistas__iframe__centrar {
    grid-template-rows: 200px 200px;
    grid-template-columns: 1fr;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
  }
}

/*# sourceMappingURL=style.css.map */
