/*FOOTER*/
footer{
    background-image: url(../img/background-header-footer-textura-cafe.webp);
    padding: 10px;
    width: 100%;
    @extend %flex-row-space-evenly-center;
    section{
        div{
            padding: 5px 5px;
            p{
                color: map-get($colores , texto_header );
                padding: 5px;
            
            }
        }
        #img_link_externos{
            @extend %flex-row-space-evenly-center;
            a{
                padding: 5px;
            }
        }
    }
    
}
/*CIERRE FOOTER*/