/* Main_Contacto */
#main__contacto{
    padding-top: 120px;
    padding-bottom: 20px;
    @extend %flex-colum-space-evenly-center;
    section{
        .container{
            .titulos{
                font-size: 42px;
                color: map-get($colores , texto_principal );
                text-decoration-line:underline            
            } 

            .contacto_parrafo{
                color: map-get($colores , texto_principal );
                font-size: 20px;
                padding: 10px;
                width: auto;
            }
        }
        #formulario_centrarFlex{
            @extend %flex-row-space-evenly-center;
            border: 2px solid #ffffff;
            background-color: map-get($colores , formulario );
            .formulario{
                width: auto;
                padding: 20px;
                .contacto_seccion{
                    padding: 10px;
                    .contacto_label{
                        color: map-get($colores , texto_principal );
                        padding: 10px;
                    }
                    .formulario__estilo{
                        padding: 10px;
                    }
                    .formulario__textarea{
                        padding: 10px;
                    }
                }
                .formulario_posicion_boton{
                    .formulario_boton{
                        padding: 10px;
                        }
                }
            }
            
        }
    }
}
/* Cierre Main_Contacto */