%flex-center{
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-row-space-evenly-center{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

%flex-colum-space-evenly-center{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

%flex-row-center{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

%flex-colum-center{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}